:root {
  --primary-color: #50653e;
  --secondary-color: #d4dbb1;
  --white: #fff;
  --text: #fff8ef;
  --navbar-height: 50px;
  --bgc: #f5e1c9;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  width: 1200px;
  max-width: 100%;
  margin: auto;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 適用於 Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

body {
  background-color: #50653e;
}
